<div>
  <ul>
    <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="/" >Home</a>
  </li>
    <li
    routerLinkActive="active" *ngIf="isAutenticicated">
    <a routerLink="showall">All meals from the restaurant</a>
  </li>
    <li
    routerLinkActive="active" *ngIf="isAutenticicated">
    <a routerLink="showone">Meal details</a>
  </li>
    <li
    routerLinkActive="active" *ngIf="isAutenticicated">
    <a routerLink="basket">Shopping basket</a>
  </li>
  <li routerLink="active" style="float:right" *ngIf="!isAutenticicated">
    <a routerLink = "auth">Authencitaion</a>

  </li>
    <li
    routerLinkActive="active" style="float:right" *ngIf="isAutenticicated">
    <a routerLink="">Logout</a>
  </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>

