<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="main">
  <div class="container">
    <div class="title">
      <h2>Fill the order</h2>
    </div>
   <div>
    <div class="d-flex">
      <form
      #dataF = "ngForm"
      (ngSubmit)="save(dataF)" >
        <label>
          <span class="fname">First Name <span class="required">*</span></span>
          <input
          type="text"
          ngModel
          name="fname"
          required
           />
        </label>
        <label>
          <span class="lname">Last Name <span class="required">*</span></span>
          <input
          type="text"
          name="lname"
          ngModel
          required/>
        </label>
        <label>
          <span>Country <span class="required">*</span></span>
          <select
          name="selection"
          [ngModel]="defaultSelected">
            <option value="select">Select a country...</option>
            <option value="BIH">Bosnia and Herzegovina</option>
            <option value="SRB">Serbia</option>
          </select>
        </label>
        <label>
          <span>Street Address <span class="required">*</span></span>
          <input
            type="text"
            name="houseadd"
            ngModel
            placeholder="House number and street name"
            required
          />
        </label>
        <label>
          <span>Town / City <span class="required">*</span></span>
          <input
          type="text"
          name="city"
          ngModel
          required />
        </label>
        <label>
          <span>Phone <span class="required">*</span></span>
          <input
          type="tel"
          name="phone"
          ngModel
          required/>
        </label>
        <label>
          <span>Email Address <span class="required">*</span></span>
          <input
          type="email"
          name="email"
          ngModel
          required
          email/>
        </label><br>
        <button (click)="show()"
        class="btn"
        type="submit"
        [disabled]="!dataF.valid"
        >
          <p>Place Order</p>
          <span
            class="fa fa-check"
            style="font-size: 20px; color: #f9c784;"
          ></span>
        </button>
        <br><br>
      </form>
      <div class="Yorder">
        <table *ngIf="meal">
          <tr>
            <th colspan="2">Your order</th>
          </tr>
          <tr>
            <td>Meal Name</td>
            <td>{{meal.name}}</td>
          </tr>
          <tr>
            <td>Subtotal</td>
            <td>{{meal.price}}</td>
          </tr>
        </table>
        <br />
        <p>
          Payment of the order is made on the spot.
        </p>

      </div>
      <!-- Yorder -->
    </div>
   </div>
