<div class="main">
  <div class="split left">
    <div class="centered" id="slika">
        <h2 class="overlay">DOSTAVAKI</h2>
    </div>
  </div>

  <div class="split right">
    <div class="text">
      <h2><b>What are you in the mood for today?</b></h2>
      <p>
        Is coffee perhaps the most important thing for a successful start to
        your day?<br />
        Have you missed a good pasta but aren’t in the mood to cook today?<br />
        Maybe it's the right time to try the food at that Mexican restaurant?
        Whether you like pizza, meat dishes, burgers, sushi, Italian, Chinese,
        Japanese, Mexican or some other cuisine, the delivery of delicious
        dishes arrives at your home or business address - quickly and easily.
        <br />
        Whatever you are in the mood for, you can find it with us!
        <br />
        Click, choose a dish and enjoy a delicious meal from the diverse offer
        in your city with <i>Dostavaki</i> - the largest platform for online
        food ordering.
        <br />
        In just 2 steps <br>
        1. Choose food <br>
        2. Wait for delivery <br>
        That is all!

        PLEASANT MEAL!
      </p>
    </div>
  </div>
</div>
